body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 20px 0px 20px;
}

.mobile-nav-button img {
  width: 18px;
}

@media screen and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
}

@media not screen and (min-width: 800px) {
  .desktop-nav {
    display: none;
  }
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 250px;
}