body {
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fast {
  animation-name: right-to-left;
  animation-duration: 1s;
  text-align: center;
}

@keyframes right-to-left {
  0% {
    transform: translateX(5em);
  }
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cool {
  padding: 15px 20px;
  background-color: #1B84FE;
  border: 0;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 0 15px #888888;
}

.cool:hover{
  animation-name: blips;
  animation-duration: 1s;
  transition-timing-function: ease-in;
  outline:0
}

@keyframes blips {
  from {
    transform: scale(1.5) rotate(-365deg)
  }

  to {
    transform: scale(1) rotate(0)
  }
}