body {
    margin:0;
    background-color: blue;
}


.row {
    display: flex;
}

.col {
    margin:0;
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    max-height: calc(10em + 100px);
}