body {
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes move {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform:translateX(0);
    opacity: 1
  }
}

.fast {
  animation: move 1s ease-in-out  ;
}


.cool {
  background-color: #00aeff;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  border: 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 15px 2px lightgray;
  cursor: pointer;
}
