body {
  margin: 0;
  
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fast {
  position: relative;
  animation: 1s ease-in-out moove  ;
}

.cool{
  background-color:#1E90FF;
  font-size: 24px;
  color: white;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 20px 5px 3px #F8F8FF;
  opacity: 0.8;
  text-transform: uppercase;
}
.cool:hover{
  animation: 1s ease-in-out cool;
}

@keyframes moove {
  0%{
    transform: translateX(150px);
  }
  100%{
    transform: translateX(0);

  }
}

@keyframes cool {

  0%{
    scale: 1;
  }
  to{
    transform: scale(1.5);
  }

  
}