h3 {
  margin-bottom: 0;
}
h1{
  text-align: center;

}
body{
  display: flex;
  flex-direction: column;
}
table{
  border: 2px solid grey;
  margin: 2rem auto;
  padding: 2rem;
  width: 100%;
  text-align: center;


}


.links{
  display: flex;
  justify-content: space-between;

}
ul li{
  background-color: blue;
  list-style-type: none;
  color: white;
  padding: 1rem 2rem;

}
ul li a{
  
  color: white;
  text-decoration: none;

}
