body {
    margin: 0;
}

.topnav {
    display: flex;
    line-height: 0;
    justify-content: center;
    align-items: center;
    background-color: #3a3633;
    font-family: 'Poppins', sans-serif;
}

.topnav > a {
    color: white;
    padding: 5px 40px;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
}

.topnav > a:hover {
    opacity: 0.5;
}