:root {
    --btn-primary-color: #007bff;
    --btn-secondary-color: #6c757d;
    --btn-success-color: #28a745;
    --btn-danger-color: #dc3545;
    --btn-warning-color: #ffc107;
    --btn-info-color: #17a2b8;
    --btn-light-color: #f8f9fa;
    --btn-dark-color: #343a40;
    --btn-white-color: #fff;
  }


body {
    margin: 40px;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
    padding: 15px 20px;   
    margin: 10px 2px;
    border-radius: 5px;  
    border: none; 
}

.btn-primary {
    background-color: var(--btn-primary-color);
    color: white;
}

.btn-secondary {
    background-color: var(--btn-secondary-color);
    color: white;
}

.btn-success {
    background-color: var(--btn-success-color);
    color: white;
}

.btn-danger {
    background-color: var(--btn-danger-color);
    color: white;
}

.btn-warning {
    background-color: var(--btn-warning-color);
    color: black;
}

.btn-info {
    background-color: var(--btn-info-color);
    color: white;
}

.btn-light {
    background-color: var(--btn-light-color);
    color: black;
}

.btn-dark {
    background-color: var(--btn-dark-color);
    color: white;
} 

.btn-link {
    background-color: var(--btn-white-color);
    color: #007bff;
}